<template>
  <v-card>
    <v-card-text>
      <v-text-field
        label="Target User Id"
        v-model="targetUserId"></v-text-field>
      <v-btn
        color="blue"
        @click="promoteUser()"
        :disabled="targetUserId===''">Promote User to Admin</v-btn>
    </v-card-text>
    <v-card-text>
      <v-text-field
        label="New Tag"
        v-model="newTag.name"></v-text-field>
      <v-select
        label="Tag Color"
        v-model="newTag.color"
        :items="colors"></v-select>
      <v-btn
        color="blue"
        @click="createNewTag()"
        :disabled="newTag.color==='' || newTag.name===''">Create New Tag</v-btn>
      <v-chip
        small
        text-color="white"
        v-if="newTag.color>'' && newTag.name>''"
        :color="newTag.color"
        >{{newTag.name}}</v-chip>
      <br/>
      <tag
        v-for="tag in tags"
        :key="tag.name"
        :name="tag.name"></tag>
      
    </v-card-text>
    <v-card-text>
      <v-text-field
        label="Count"
        type="number"
        v-model.number="trackingCount"></v-text-field>
      <v-btn
        color="pink"
        @click="getTracking()"
        :disabled="trackingCount<=0">Get Tracking</v-btn>
    </v-card-text>
    <v-card-text
      v-if="trackingRecords!==undefined">
      <v-expansion-panel popout>
        <v-expansion-panel-content
          v-for="record in trackingRecords"
          :key="record.id">
            <div slot="header">
              <h3>{{record.user.name}}</h3>
              {{record.summary}} - {{record.changeDate.toString()}}
            </div>
            <v-card>
              <v-card-text style="white-space: pre-line">
                {{record.change}}
              </v-card-text>
            </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-card-text>
  </v-card>
</template>
<script type="text/javascript">
import Enumerable from "linq";
import Tag from "../elements/Tag";
export default {
  name: "admin",
  components: {
    Tag
  },
  data() {
    return {
      trackingCount: 50,
      trackingRecords: undefined,
      colors: [
        "red",
        "pink",
        "purple",
        "deep-purple",
        "indigo",
        "blue",
        "light-blue",
        "cyan",
        "teal",
        "green",
        "light-green",
        "lime",
        "yellow",
        "amber",
        "orange",
        "deep-orange",
        "brown",
        "blue-grey",
        "grey"
      ],
      newTag: {
        name: "",
        color: ""
      },
      targetUserId: ""
    };
  },
  computed: {
    tags() {
      return Enumerable.from(this.$store.getters.getTags)
        .orderBy(tag => tag.color)
        .toArray();
    }
  },
  methods: {
    getTracking() {
      this.$store
        .dispatch("datalayer/getTracking", this.trackingCount)
        .then(result => {
          console.log(result);
          for (var i = 0; i < result.tracking.length; i++) {
            var record = result.tracking[i];
            record.changeDate = new Date(record.changeDate);
          }
          this.trackingRecords = result.tracking;
        })
        .catch(error => {
          console.error(error);
          alert("There was an error while retrieving tracking records");
        });
    },
    createNewTag() {
      if (
        Enumerable.from(this.tags).any(tag => tag.name === this.newTag.name)
      ) {
        alert("This tag already exists");
        return;
      }
      this.$store
        .dispatch("createTag", this.newTag)
        .then(result => {
          this.$store.dispatch("snackbar/toast", "Tag Created!");
          this.newTag = {
            name: "",
            color: ""
          };
        })
        .catch(error => {
          console.error(error);
          alert("There was an error while creating the tag");
        });
    },
    promoteUser() {
      this.$store
        .dispatch("datalayer/getProfileById", this.targetUserId)
        .then(result => {
          if (result.user !== null) {
            if (confirm("Promote " + result.user.name + " to Admin?")) {
              return this.$store.dispatch(
                "datalayer/promoteUserToAdmin",
                this.targetUserId
              );
            }
          } else {
            alert("The target user id does not exist");
          }
        })
        .then(result => {
          this.$store.dispatch("snackbar/toast", "User promoted to Admin!");
        })
        .catch(error => {
          console.error(error);
          alert("There was an error while promoting the target user");
        });
    }
  }
};
</script>
<style scoped>
</style>