<template>
  <v-card v-if="chart!==undefined" style="padding-bottom:100px;max-width: 800px;">
    <v-responsive>
      <iframe
        style="width:100%"
        class="video"
        v-if="chart.video>'' && chart.video.startsWith('https://www.youtube.com/embed/')"
        ref="video-frame"
        :src="chart.video+'?enablejsapi=1'"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen
      ></iframe>
      <v-img v-else :src="chart.song.image"></v-img>
    </v-responsive>
    <v-card-text>
      <v-btn
        class="bread-crumb"
        flat
        color="pink"
        @click.native="$router.push('/mixes/'+chart.song.mix.id)"
      >{{chart.song.mix.name}}</v-btn>
      <v-icon class="bread-crumb-chevron">chevron_right</v-icon>
      <v-btn
        class="bread-crumb"
        flat
        color="pink"
        @click.native="$router.push('/songs/'+chart.song.id)"
      >{{chart.song.name}}</v-btn>
      <v-icon class="bread-crumb-chevron">chevron_right</v-icon>
      <v-btn class="bread-crumb" flat color="pink" disabled>{{shortHand(chart)}}</v-btn>
      <v-btn color="pink" fab flat @click.native="toggleFavorite()" v-if="isUser">
        <v-icon v-if="isFavoritedChart">favorite</v-icon>
        <v-icon v-else>favorite_border</v-icon>
      </v-btn>
    </v-card-text>
    <v-card-text style="text-align:center;" v-if="usedTags.length>0">
      <tag
        v-for="tag in usedTags"
        :key="tag.name"
        :name="tag.name"
        :deletable="isAdmin"
        @delete="removeTag(tag.name)"
      ></tag>
    </v-card-text>
    <v-card-text style="text-align:center;">
      <v-rating v-model="chart.averageRating" half-increments color="pink" readonly></v-rating>
      <div>
        <span class="caption text-uppercase">Average:</span>
        <span class="font-weight-bold">{{chart.averageRating}}</span>
      </div>
      <v-rating half-increments v-model="myRating" color="pink" v-if="isUser"></v-rating>
      <div v-if="isUser">
        <span class="caption text-uppercase">Mine:</span>
        <span class="font-weight-bold">{{chart.ratings.rating}}</span>
      </div>
    </v-card-text>
    <v-card-text v-if="isAdmin">
      Add Tags:
      <tag v-for="tag in unusedTags" :key="tag.name" :name="tag.name" @click="addTag(tag.name)"></tag>
    </v-card-text>
    <v-card-text>
      <v-card v-for="comment in chart.comments" :key="comment.user.id">
        <v-card-title>{{comment.user.name}}</v-card-title>
        <v-card-text>{{comment.message}}</v-card-text>
        <v-card-actions v-if="comment.user.id===profile.id">
          <v-btn color="red darken-2" flat @click.native="openDeleteCommentDialog()">Delete</v-btn>
        </v-card-actions>
      </v-card>
      <v-card v-if="isUser && !hasComment()">
        <v-card-actions>
          <v-btn flat @click.native="openAddCommentDialog()">Add Comment</v-btn>
        </v-card-actions>
      </v-card>
    </v-card-text>
    <v-dialog v-model="showAddDialog">
      <v-card>
        <v-card-title>Add Comment</v-card-title>
        <v-card-text>
          <v-textarea v-model="commentMessage" label="Message" maxlength="512" counter></v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-btn flat @click.native="closeAddCommentDialog()">Cancel</v-btn>
          <v-btn
            color="blue darken-2"
            dark
            :disabled="disableAddButton"
            @click.native="addComment()"
          >Add</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="showDeleteDialog">
      <v-card>
        <v-card-title>Delete Comment?</v-card-title>
        <v-card-actions>
          <v-btn flat @click.native="closeDeleteCommentDialog()">Cancel</v-btn>
          <v-btn
            color="red darken-2"
            dark
            :disabled="disableDeleteButton"
            @click.native="deleteComment()"
          >Confirm</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <chart-video v-model="showVideoDialog" :video="chart.video"></chart-video>
    <v-dialog v-model="showEditDialog">
      <v-card>
        <v-card-text>
          <v-text-field
            label="Video"
            maxlength="64"
            counter
            :rules="[rules.requireYoutube]"
            v-model="editChart.video"
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="pink"
            :disabled="disableSaveButton || !validUpdate()"
            @click.native="updateChart()"
          >Save</v-btn>
          <v-btn flat @click.native="showEditDialog=false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-btn fab flat fixed bottom relative left v-if="isAdmin" @click.native="openEditDialog()">
      <v-icon>edit</v-icon>
    </v-btn>
  </v-card>
</template>
<script type="text/javascript">
import DifficultyImage from "../elements/DifficultyImage";
import Enumerable from "linq";
import Tag from "../elements/Tag";
import ChartVideo from "../elements/ChartVideo";
export default {
  name: "chart",
  components: {
    DifficultyImage,
    Tag,
    ChartVideo
  },
  data() {
    return {
      rules: {
        requireYoutube: value =>
          value === "" ||
          value.startsWith("https://www.youtube.com/embed/") ||
          value.startsWith("https://youtu.be/") ||
          "Image must start with https://www.youtube.com/embed/ or https://youtu.be/"
      },
      isEditingTags: false,
      showEditDialog: false,
      editChart: {
        video: ""
      },
      showMyRatingsDialog: false,
      showVideoDialog: false,
      showDeleteDialog: false,
      disableDeleteButton: false,
      showAddDialog: false,
      disableAddButton: false,
      disableSaveButton: false,
      commentMessage: ""
    };
  },
  computed: {
    unusedTags() {
      return Enumerable.from(this.$store.getters.getTags)
        .where(tag => !this.chart.tagNames.includes(tag.name))
        .orderBy(tag => tag.color)
        .toArray();
    },
    isAdmin() {
      return this.$store.getters["profile/getIsAdmin"];
    },
    isUser() {
      return this.$store.getters["profile/getIsUser"];
    },
    chart() {
      return this.$store.getters.getCurrentChart;
    },
    usedTags() {
      return Enumerable.from(this.$store.getters.getTags)
        .where(tag => this.chart.tagNames.includes(tag.name))
        .orderBy(tag => tag.color)
        .toArray();
    },
    profile() {
      return this.$store.getters["profile/getProfile"];
    },
    myRating: {
      get() {
        return this.chart.ratings.rating;
      },
      set(value) {
        this.chart.ratings.rating = value;
        this.updateRatings();
      }
    },
    favoritesList() {
      return this.$store.getters.getFavoritesList;
    },
    isFavoritedChart() {
      return Enumerable.from(this.favoritesList.chartIds).any(
        chartId => chartId == this.chart.id
      );
    }
  },
  methods: {
    toggleFavorite() {
      var isAdding = !this.isFavoritedChart;
      this.$store
        .dispatch(isAdding ? "addChartToList" : "removeChartFromList", {
          chartId: this.chart.id,
          listId: this.favoritesList.id
        })
        .then(result => {
          this.$store.dispatch(
            "snackbar/toast",
            isAdding
              ? "Chart Added to Favorites!"
              : "Chart Removed from Favorites!"
          );
        })
        .catch(error => {
          console.error(error);
          alert("There was an error while favoriting the chart");
        });
    },
    shortHand(chart) {
      var type =
        chart.typeName === "Single"
          ? "S"
          : chart.typeName === "Double"
          ? "D"
          : chart.typeName === "Single Performance"
          ? "SP"
          : chart.typeName === "Double Performance"
          ? "DP"
          : chart.typeName === "CoOp"
          ? "CO-OP"
          : "";
      var difficulty = chart.type == "CoOp" ? chart.players : chart.difficulty;
      return type + difficulty;
    },
    updateChart() {
      this.disableSaveButton = true;
      this.editChart.video = this.editChart.video.replace(
        "youtu.be/",
        "www.youtube.com/embed/"
      );
      this.$store
        .dispatch("updateChart", {
          chartId: this.chart.id,
          chart: this.editChart
        })
        .then(result => {
          this.$store.dispatch("snackbar/toast", "Chart Updated");
          this.disableSaveButton = false;
          this.showEditDialog = false;
        })
        .catch(error => {
          console.error(error);
          this.disableSaveButton = false;
        });
    },
    validUpdate() {
      return (
        this.editChart.video === "" ||
        this.editChart.video.startsWith("https://www.youtube.com/embed/") ||
        this.editChart.video.startsWith("https://youtu.be/")
      );
    },
    openEditDialog() {
      this.editChart.video = this.chart.video === null ? "" : this.chart.video;
      this.showEditDialog = true;
    },
    updateRatings() {
      this.$store
        .dispatch("updateChartRatings", {
          chartId: this.chart.id,
          ratings: this.chart.ratings
        })
        .then(result => {
          this.$store.dispatch("snackbar/toast", "Updated ratings!");
        })
        .catch(error => {
          console.error(error);
          alert("There was an error while updating ratings for this chart");
        });
    },
    addTag(tag) {
      this.$store
        .dispatch("addTag", {
          chartId: this.chart.id,
          tag
        })
        .then(result => {
          this.$store.dispatch("snackbar/toast", "Tag Added");
        })
        .catch(error => {
          console.error(error);
          alert("There was an error while adding the tag");
        });
    },
    removeTag(tag) {
      this.$store
        .dispatch("removeTag", {
          chartId: this.chart.id,
          tag
        })
        .then(result => {
          this.$store.dispatch("snackbar/toast", "Tag Removed");
        })
        .catch(error => {
          console.error(error);
          alert("There was an error while removing the tag");
        });
    },
    hasComment() {
      return Enumerable.from(this.chart.comments).any(
        comment => comment.userId === this.profile.id
      );
    },
    addComment() {
      this.disableAddButton = true;
      this.$store
        .dispatch("addComment", {
          songId: this.chart.songId,
          chartId: this.chart.id,
          message: this.commentMessage
        })
        .then(result => {
          this.disableAddButton = false;
          this.closeAddCommentDialog();
          this.$store.dispatch("snackbar/toast", "Comment added!");
        })
        .catch(error => {
          this.disableAddButton = false;
          console.error(error);
          alert("There was an error while adding a comment");
        });
    },
    deleteComment() {
      this.disableDeleteButton = true;
      this.$store
        .dispatch("deleteComment", {
          songId: this.chart.songId,
          chartId: this.chart.id
        })
        .then(result => {
          this.disableDeleteButton = false;
          this.closeDeleteCommentDialog();
          this.$store.dispatch("snackbar/toast", "Comment deleted!");
        })
        .catch(error => {
          this.disableDeleteButton = false;
          console.error(error);
          alert("There was an error while deleting the comment");
        });
    },
    closeAddCommentDialog() {
      this.showAddDialog = false;
    },
    openAddCommentDialog() {
      this.showAddDialog = true;
      this.commentMessage = "";
    },
    closeDeleteCommentDialog() {
      this.showDeleteDialog = false;
    },
    openDeleteCommentDialog() {
      this.showDeleteDialog = true;
    }
  }
};
</script>

<style scoped>
iframe.video {
  width: 100%;
}
@media (min-width: 410px) {
  iframe.video {
    height: 225px;
  }
}
@media (min-width: 576px) {
  iframe.video {
    height: 300px;
  }
}
@media (min-width: 768px) {
  iframe.video {
    height: 420px;
  }
}
@media (min-width: 970px) {
  iframe.video {
    height: 520px;
  }
}
@media (min-width: 1170px) {
  iframe.video {
    height: 600px;
  }
}
</style>
<style scoped>
.bread-crumb {
  margin-left: 0;
  margin-right: 0;
}
.bread-crumb-chevron {
  vertical-align: middle;
}
</style>