<template>
  <v-card>
    <chart-table :charts="charts" :pagination="pagination" @pagination-change="updatePagination"></chart-table>
  </v-card>
</template>
<script>
import Enumerable from "linq";
import ChartTable from "../elements/ChartTable";
export default {
  components: {
    ChartTable
  },
  data() {
    console.log(this.$route.query);
    var query = this.$route.query;
    var currentPagination = {
      sortBy: null,
      descending: null,
      page: 1,
      rowsPerPage: 5
    };
    if (query.filter > "") {
      currentPagination.filter = query.filter;
    }
    if (query.sortBy > "") {
      currentPagination.sortBy = query.sortBy;
    }
    if (query.descending > "") {
      currentPagination.descending = query.descending === "true";
    }
    if (!isNaN(query.page) && query.page != "1") {
      currentPagination.page = parseInt(query.page);
    }
    if (!isNaN(query.rowsPerPage) && query.rowsPerPage != "5") {
      currentPagination.rowsPerPage = parseInt(query.rowsPerPage);
    }
    return {
      currentPagination
    };
  },
  computed: {
    pagination: {
      get() {
        return this.currentPagination;
      },
      set(value) {
        this.currentPagination = value;

        var query = Object.assign({}, this.$route.query, value);
        if (query.page === 1) {
          delete query.page;
        }
        if (query.rowsPerPage === 5) {
          delete query.rowsPerPage;
        }
        if (query.sortBy === null) {
          delete query.sortBy;
        }
        if (query.descending === null) {
          delete query.descending;
        }
        delete query.totalItems;
        this.$router.replace({
          query
        });
      }
    },
    charts() {
      return this.$store.getters.getCharts;
    }
  },
  methods: {
    updatePagination(value) {
      this.pagination = value;
    }
  }
};
</script>