<template>
  <v-card>
    <v-card-text v-for="section in availableSections" :key="section.title">
      <v-btn flat color="pink" @click.native="$router.push(section.path)">
        {{section.title}}
        <v-icon>{{section.icon}}</v-icon>
      </v-btn>
      <br>
      {{section.description}}
    </v-card-text>
    <v-card-text v-for="releaseNote in releaseNotes" :key="releaseNote.id">
      <h3>{{new Date(releaseNote.releaseDate).toLocaleString()}} by {{releaseNote.user.name}}</h3>
      <div v-html="releaseNote.notes"></div>
    </v-card-text>
  </v-card>
</template>
<script>
import Enumerable from "linq";
export default {
  computed: {
    releaseNotes() {
      return this.$store.getters["releaseNotes/getReleaseNotes"];
    },
    profile() {
      return this.$store.getters["profile/getProfile"];
    },
    isAdmin() {
      return this.$store.getters["profile/getIsAdmin"];
    },
    sections() {
      return [
        {
          title: "Mixes",
          icon: "library_music",
          description:
            "A list of current mixes, providing access to song lists on a per mix basis." +
            (this.isAdmin
              ? " As an admin you can add Mixes, Songs and Charts here."
              : ""),
          path: "/mixes",
          roles: ["User", "Admin", "Super Kami Guru", "Anonymous"]
        },
        {
          title: "Songs",
          icon: "queue_music",
          description:
            "A top down searchable, sortable view of all songs across all mixes.",
          path: "/songs",
          roles: ["User", "Admin", "Super Kami Guru", "Anonymous"]
        },
        {
          title: "Charts",
          icon: "playlist_play",
          description:
            "A top down, searchable, sortable view of all charts across all songs.",
          path: "/charts",
          roles: ["User", "Admin", "Super Kami Guru", "Anonymous"]
        },
        {
          title: "Admin",
          icon: "gavel",
          path: "/admin",
          description:
            "You have been granted Admin Privileges. Use this page to promote other users to admin, create new tags, and view tracking.",
          roles: ["Admin", "Super Kami Guru"]
        },
        {
          title: "Super Kami Guru",
          icon: "accessibility_new",
          path: "/admin/super",
          description:
            "You have been granted Super Kami Guru priviliges. This page lets you manage more technical aspects of the application, such as clearing cache.",
          roles: ["Super Kami Guru"]
        }
      ];
    },
    availableSections() {
      return Enumerable.from(this.sections)
        .where(section => section.roles.includes(this.profile.currentRoleName))
        .toArray();
    }
  }
};
</script>