<template>
  <v-container grid-list-md>
    <v-layout row wrap>
      <v-flex v-for="list in lists" :key="list.id" xs12 sm6 md4 lg3>
        <v-card>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">{{list.name}}</h3>
              <br>
              {{list.chartIds.length}} Charts
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat color="pink" @click.native="$router.push('lists/'+list.id)">Open</v-btn>
            <v-spacer></v-spacer>
            <v-btn flat fab>
              <v-icon color="pink" v-if="list.isFavorites">favorite</v-icon>
              <v-icon color="pink" v-else>favorite_border</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import Enumerable from "linq";
export default {
  data() {
    return {};
  },
  computed: {
    lists() {
      return this.$store.getters.getLists;
    }
  }
};
</script>

