<template>
  <div
    v-if="mix!==undefined">
    <v-container grid-list-md>
      <v-layout row wrap>
        <v-flex
          xs4
          sm3
          v-for="song in sortedSongs"
          :key="song.id">
          <v-card>
            <v-responsive>
              <v-img
              :src="song.image"
              @click.native="$router.push('/songs/' + song.id)"></v-img>
            </v-responsive>
          </v-card>
        </v-flex>
        <v-flex
          xs4
          sm3>
          <v-btn
            fab
            flat
            @click.native="openAddSongDialog()"
            v-if="isAdmin">
            <v-icon>add_circle</v-icon>
          </v-btn>  
        </v-flex>
      </v-layout>
    </v-container>
    <v-dialog
      v-model="showAddSongDialog">
      <v-card>
        <v-card-title>
          Add Song
        </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="newSong.name"
            label="Name"
            maxlength="128"
            counter></v-text-field>
        </v-card-text>
        <v-card-text>
          <v-text-field
            v-model="newSong.artist"
            label="Artist"
            maxlength="128"
            counter></v-text-field>
        </v-card-text>
        <v-card-text>
          <v-text-field
            v-model="newSong.bpm"
            label="BPM"
            maxlength="16"
            counter></v-text-field>
        </v-card-text>
        <v-card-text>
          <v-text-field
            v-model="newSong.image"
            label="Image"
            maxlength="256"
            counter
            :rules="[rules.requireHttps]"></v-text-field>
        </v-card-text>
        <v-card-text>
          <v-select
            v-model="newSong.typeName"
            label="Type"
            :items="songTypes"></v-select>
        </v-card-text>
        <v-card-text>
          <v-text-field
            v-model="newCharts"
            label="Charts"
            hint="Example: s1 d5 sp3 dp11"></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn
            flat
            @click.native="closeAddSongDialog()">Cancel</v-btn>
          <v-btn
            @click.native="addSong()"
            dark
            color="blue darken-2"
            v-show="validForm"
            :disabled="disableAddButton">Add</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script type="text/javascript">
import Enumerable from "linq";
export default {
  name: "mix",
  data() {
    return {
      songTypes: ["Normal", "Full Song", "Remix", "Short Cut"],
      rules: {
        requireHttps: value =>
          value === undefined ||
          value.length === 0 ||
          value.startsWith("https://") ||
          "Image must start with https://"
      },
      newCharts: "",
      newSong: {
        name: "",
        image: "",
        bpm: "",
        artist: "",
        type: "Normal"
      },
      showAddSongDialog: false,
      disableAddButton: false
    };
  },
  computed: {
    isAdmin() {
      return this.$store.getters["profile/getIsAdmin"];
    },
    validForm() {
      return (
        this.newSong.name.length > 0 &&
        this.newSong.image.startsWith("https://") &&
        this.newSong.bpm.length > 0 &&
        this.newSong.artist.length > 0
      );
    },
    mix() {
      return this.$store.getters.getCurrentMix;
    },
    sortedSongs() {
      return Enumerable.from(this.mix.songs)
        .orderBy(song => song.name.toLowerCase())
        .toArray();
    }
  },
  methods: {
    addSong() {
      this.newSong.mixId = this.mix.id;
      this.disableAddButton = true;
      this.$store
        .dispatch("addSong", this.newSong)
        .then(result => {
          var songId = result.songId;
          var chartStrings = Enumerable.from(this.newCharts.split(" "))
            .where(chartString => chartString > "")
            .toArray();
          if (chartStrings.length > 0) {
            Promise.all(
              Enumerable.from(chartStrings)
                .select(chartString => {
                  return new Promise((resolve, reject) => {
                    var chart = {
                      players: 1
                    };
                    if (chartString.startsWith("sp")) {
                      if (isNaN(chartString.substring(2))) {
                        reject(new Error("Error parsing" + chartString));
                        return;
                      }
                      chart.typeName = "Single Performance";
                      chart.difficulty = parseInt(chartString.substring(2));
                    } else if (chartString.startsWith("dp")) {
                      if (isNaN(chartString.substring(2))) {
                        reject(new Error("Error parsing" + chartString));
                        return;
                      }
                      chart.typeName = "Double Performance";
                      chart.difficulty = parseInt(chartString.substring(2));
                    } else if (chartString.startsWith("s")) {
                      if (isNaN(chartString.substring(1))) {
                        reject(new Error("Error parsing" + chartString));
                        return;
                      }
                      chart.typeName = "Single";
                      chart.difficulty = parseInt(chartString.substring(1));
                    } else if (chartString.startsWith("d")) {
                      if (isNaN(chartString.substring(1))) {
                        reject(new Error("Error parsing" + chartString));
                        return;
                      }
                      chart.typeName = "Double";
                      chart.difficulty = parseInt(chartString.substring(1));
                    } else if (chartString.startsWith("coop")) {
                      if (isNaN(chartString.substring(4))) {
                        reject(new Error("Error parsing" + chartString));
                        return;
                      }
                      chart.typeName = "CoOp";
                      chart.difficulty = null;
                      chart.players = parseInt(chartString.substring(4));
                    }
                    this.$store
                      .dispatch("addChart", { songId, newChart: chart })
                      .then(result => {
                        resolve({ ok: true });
                      })
                      .catch(error => {
                        console.error(error);
                        resolve({ ok: false });
                      });
                  });
                })
                .toArray()
            )
              .then(results => {
                for (var i = 0; i < results.length; i++) {
                  if (!results[i].ok) {
                    alert("Some charts may not have been created");
                    break;
                  }
                }
                this.disableAddButton = false;
                this.closeAddSongDialog();
                this.$store.dispatch("snackbar/toast", "Song added!");
              })
              .catch(error => {
                console.error(error);
                alert("There was an error when creating charts");
              });
          } else {
            this.disableAddButton = false;
            this.closeAddSongDialog();
            this.$store.dispatch("snackbar/toast", "Song added!");
          }
        })
        .catch(error => {
          this.disableAddButton = false;
          console.error(error);
          alert("There was an error while adding a song");
        });
    },
    closeAddSongDialog() {
      this.showAddSongDialog = false;
    },
    openAddSongDialog() {
      this.newSong = {
        name: "",
        image: "",
        artist: "",
        bpm: "",
        type: "Normal"
      };
      this.newCharts = "";
      this.showAddSongDialog = true;
    }
  }
};
</script>