<template>
  <div>
    <v-container grid-list-md>
      <v-layout row wrap>
        <v-flex
          xs6
          sm4
          v-for="mix in mixes"
          :key="mix.id">
          <v-card>
            <v-responsive>
              <v-img
              :src="mix.image"
              @click.native="$router.push('/mixes/' + mix.id)"></v-img>
            </v-responsive>
          </v-card>
        </v-flex>
        <v-flex
          xs6
          sm4
          v-if="isAdmin">
          <v-btn
            fab
            flat
            @click.native="openAddMixDialog()">
            <v-icon>add_circle</v-icon>
          </v-btn>  
        </v-flex>
      </v-layout>
    </v-container>
    <v-dialog
      v-model="showAddMixDialog">
      <v-card>
        <v-card-title>
          Add Mix
        </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="newMix.name"
            label="Name"
            maxlength="36"
            counter></v-text-field>
        </v-card-text>
        <v-card-text>
          <v-text-field
            v-model="newMix.image"
            label="Image"
            maxlength="256"
            counter
            :rules="[rules.requireHttps]"></v-text-field>
        </v-card-text>
        <v-card-text>
          <v-text-field
            label="Display Order"
            type="number"
            v-model.number="newMix.displayOrder"></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn
            flat
            @click.native="closeAddMixDialog()">Cancel</v-btn>
          <v-btn
            @click.native="addMix()"
            dark
            color="blue darken-2"
            v-show="validForm"
            :disabled="disableAddButton">Add</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script type="text/javascript">
import Enumerable from "linq";
export default {
  name: "mixList",
  data() {
    return {
      rules: {
        requireHttps: value =>
          value === undefined ||
          value.length === 0 ||
          value.startsWith("https://") ||
          "Image must start with https://"
      },
      newMix: {
        name: "",
        image: "",
        displayOrder: 18
      },
      showAddMixDialog: false,
      disableAddButton: false
    };
  },
  computed: {
    isAdmin() {
      return this.$store.getters["profile/getIsAdmin"];
    },
    mixes() {
      return Enumerable.from(this.$store.getters.getMixes)
        .orderByDescending(mix => mix.displayOrder)
        .toArray();
    },
    validForm() {
      return (
        this.newMix.name.length > 0 && this.newMix.image.startsWith("https://")
      );
    }
  },
  methods: {
    addMix() {
      this.disableAddButton = true;
      this.$store
        .dispatch("addMix", this.newMix)
        .then(result => {
          this.disableAddButton = false;
          this.closeAddMixDialog();
          this.$store.dispatch("snackbar/toast", "Mix added!");
        })
        .catch(error => {
          this.disableAddButton = false;
          console.error(error);
          alert("There was an error while adding a mix");
        });
    },
    closeAddMixDialog() {
      this.showAddMixDialog = false;
    },
    openAddMixDialog() {
      var lowestDisplayOrder = 1;
      while (
        Enumerable.from(this.mixes).any(
          mix => mix.displayOrder === lowestDisplayOrder
        )
      ) {
        lowestDisplayOrder++;
      }
      this.newSong = {
        name: "",
        image: "",
        displayOrder: lowestDisplayOrder
      };
      this.showAddMixDialog = true;
    }
  }
};
</script>