<template>
  <v-card>
    <v-card-text v-if="currentProfile.roleName==='Anonymous'">
      <v-btn
        v-for="loginProvider in loginProviders"
        :key="loginProvider.scheme"
        @click.native="goToProvider(loginProvider.scheme)"
        color="pink"
      >
        <v-icon left>{{loginProvider.icon}}</v-icon>
        Log in with {{loginProvider.displayName}}
      </v-btn>
    </v-card-text>
    <v-card-text v-if="currentProfile.roleName==='Anonymous'">
      Logging in will automatically create an account for you if you do not have one.
      <br>We do not store any personal information (email, name, password, etc.) related to the login provider you utilize.
      <br>We only use the unique identifier from the login provider to map you to your Arrow Eclipse account.
    </v-card-text>
    <v-card-text v-if="currentProfile.roleName!=='Anonymous'"></v-card-text>
    <v-card-text v-if="currentProfile.roleName!=='Anonymous'">
      <v-text-field
        label="Username"
        v-model="editProfile.name"
        @change="updateProfile()"
        maxlength="32"
        counter
      ></v-text-field>
    </v-card-text>
    <v-card-text v-if="currentProfile.roleName!=='Anonymous'">
      <span class="grey--text">Id</span>
      <br>
      <span>{{editProfile.id}}</span>
    </v-card-text>
    <v-card-text v-if="currentProfile.roleName!=='Anonymous'">
      <span class="grey--text">Role</span>
      <br>
      <span>{{editProfile.roleName}}</span>
    </v-card-text>
    <v-card-text v-if="currentProfile.roleName!=='Anonymous'">
      <v-select
        label="Show As Role"
        :items="availableRoles"
        v-model="editProfile.currentRoleName"
        @change="updateProfile()"
      ></v-select>
    </v-card-text>
    <v-card-text v-if="currentProfile.roleName!=='Anonymous'">
      <v-switch label="Dark Theme" v-model="editProfile.darkTheme" @change="updateProfile()"></v-switch>
    </v-card-text>
    <v-card-text v-if="currentProfile.roleName!=='Anonymous'">
      <v-btn color="pink" @click.native="logout()">LOGOUT</v-btn>
    </v-card-text>
  </v-card>
</template>
<script type="text/javascript">
export default {
  name: "profile",
  computed: {
    availableRoles() {
      if (this.currentProfile === undefined) {
        return [];
      }
      switch (this.currentProfile.roleName) {
        case "User":
          return ["Anonymous"];
        case "Admin":
          return ["Anonymous", "User", "Admin"];
        case "Super Kami Guru":
          return ["Anonymous", "User", "Admin", "Super Kami Guru"];
      }
    },
    currentProfile() {
      return this.$store.getters["profile/getProfile"];
    },
    editProfile() {
      return this.$store.getters["profile/getEditProfile"];
    },
    loginProviders() {
      return this.$store.getters.getLoginProviders;
    }
  },
  methods: {
    goToProvider(providerScheme) {
      var returnUrl = "/profile";
      var url =
        "/Account/Login/" +
        providerScheme +
        "?returnUrl=" +
        encodeURI(returnUrl);
      window.location.href = url;
    },
    updateProfile() {
      this.$store
        .dispatch("profile/updateProfile")
        .then(result => {
          this.$store.dispatch("snackbar/toast", "Profile Updated!");
        })
        .catch(error => {
          console.error(error);
          alert("There was an error while updating profile");
        });
    },
    logout() {
      window.location.href = "/Account/Logout";
    }
  }
};
</script>
<style scoped>
</style>