<template>
  <v-card>
    <v-card-title>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="songs"
      :search="search">
      <template
        slot="items"
        slot-scope="props">
        <tr
          @click="$router.push('/songs/'+props.item.id)">
          <td><v-img :src="props.item.image"
            height="40px"
            width="60px"></v-img></td>
          <td>{{props.item.mix.name}}</td>
          <td>{{props.item.name}}</td>
          <td>{{props.item.artist}}</td>
          <td>{{props.item.bpm}}</td>
          <tD>{{props.item.typeName}}</tD>
        </tr>
      </template>
    </v-data-table>
  </v-card>
</template>
<script>
import Enumerable from "linq";
export default {
  data() {
    return {
      search: "",
      headers: [
        {
          text: "",
          sortable: false,
          value: "image"
        },
        {
          text: "Mix",
          value: "mix.name"
        },
        {
          text: "Name",
          value: "name"
        },
        {
          text: "Artist",
          value: "artist"
        },
        {
          text: "BPM",
          value: "bpm"
        },
        {
          text: "Type",
          value: "type"
        }
      ]
    };
  },
  computed: {
    songs() {
      return this.$store.getters.getSongs;
    }
  }
};
</script>