<template>
  <v-card style="max-width: 800px;" v-if="song!==undefined">
    <v-responsive>
      <v-img :src="song.image"></v-img>
    </v-responsive>

    <v-card-text>
      <v-btn
        class="bread-crumb"
        flat
        color="pink"
        @click.native="$router.push('/mixes/'+song.mix.id)"
      >{{song.mix.name}}</v-btn>
      <v-icon class="bread-crumb-chevron">chevron_right</v-icon>
      <v-btn class="bread-crumb" flat color="pink" disabled>{{song.name}}</v-btn>

      <v-layout row wrap>
        <v-flex xs2 v-for="chart in sortedCharts" :key="chart.id">
          <difficulty-image
            :size="75"
            :difficulty="chart.difficulty"
            :type="chart.typeName"
            :players="chart.players"
            style="cursor:pointer"
            @select="$router.push('/charts/'+chart.id)"
          ></difficulty-image>
        </v-flex>
        <v-flex xs2>
          <v-btn fab flat @click.native="openAddChartDialog()" v-if="isAdmin">
            <v-icon>add_circle</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-card-text>
    <v-dialog v-model="showAddChartDialog">
      <v-card>
        <v-card-title>Add Chart</v-card-title>
        <v-card-text>
          <v-select :items="types" v-model="newChart.typeName"></v-select>
        </v-card-text>
        <v-card-text v-if="newChart.typeName==='CoOp'">
          <v-text-field type="number" label="Players" v-model.number="newChart.players"></v-text-field>
        </v-card-text>
        <v-card-text v-else>
          <v-text-field type="number" label="Difficulty" v-model.number="newChart.difficulty"></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn flat @click.native="closeAddChartDialog()">Cancel</v-btn>
          <v-btn
            :disabled="disableAddButton"
            dark
            color="blue darken-2"
            @click.native="addChart()"
          >Add</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>
<script type="text/javascript">
import DifficultyImage from "../elements/DifficultyImage";
import Enumerable from "linq";
export default {
  name: "song",
  components: {
    difficultyImage: DifficultyImage
  },
  data() {
    return {
      types: [
        {
          text: "Single",
          value: "Single"
        },
        {
          text: "Double",
          value: "Double"
        },
        {
          text: "Double Peformance",
          value: "Double Performance"
        },
        {
          text: "Single Performance",
          value: "Single Performance"
        },
        {
          text: "CoOp",
          value: "CoOp"
        }
      ],
      showAddChartDialog: false,
      disableAddButton: false,
      newChart: {}
    };
  },
  computed: {
    isAdmin() {
      return this.$store.getters["profile/getIsAdmin"];
    },
    song() {
      return this.$store.getters.getCurrentSong;
    },
    sortedCharts() {
      return Enumerable.from(this.song.charts)
        .orderBy(chart =>
          chart.typeName === "Single"
            ? 1
            : chart.typeName === "Double"
            ? 2
            : chart.typeName === "Single Performance"
            ? 3
            : chart.typeName === "Double Performance"
            ? 4
            : chart.typeName === "CoOp"
            ? 5
            : 6
        )
        .thenBy(chart => chart.difficulty)
        .toArray();
    }
  },
  methods: {
    closeAddChartDialog() {
      this.showAddChartDialog = false;
    },
    openAddChartDialog() {
      this.newChart = {
        typeName: "Single",
        difficulty: 15,
        players: 1
      };
      this.showAddChartDialog = true;
    },
    addChart() {
      this.disableAddButton = true;
      this.$store
        .dispatch("addChart", { songId: this.song.id, newChart: this.newChart })
        .then(result => {
          this.disableAddButton = false;
          this.showAddChartDialog = false;
          this.$store.dispatch("snackbar/toast", "Chart added!");
        })
        .catch(error => {
          this.disableAddButton = false;
          console.error(error);
          alert("There was an error while creating a new chart");
        });
    }
  }
};
</script>
<style scoped>
.bread-crumb {
  margin-left: 0;
  margin-right: 0;
}
.bread-crumb-chevron {
  vertical-align: middle;
}
</style>