<template>
  <v-card>
    <v-card-text>
      <v-btn
        color="pink"
        @click.native="clearCache()">Clear Cache</v-btn>
    </v-card-text>
    <v-card-text>
      <v-text-field
        label="Target User Id"
        v-model="targetUserId"></v-text-field>
      <v-btn
        color="pink"
        @click="promoteUser"
        :disabled="targetUserId===''">Promote User to Super Kami Guru</v-btn>
    </v-card-text>
    <v-card-text>
      <v-textarea
        label="Release Notes"
        v-model="newReleaseNotes"></v-textarea>

    </v-card-text>
    <v-card-text v-if="newReleaseNotes>''">
      <h3>{{(new Date()).toString()}}</h3>
      <div v-html="newReleaseNotes"></div>
    </v-card-text>
    <v-card-text>
      <v-btn
        color="pink"
        :disabled="newReleaseNotes===''"
        @click="addReleaseNotes()">Add Release Notes</v-btn>
    </v-card-text>
    
  </v-card>
</template>
<script type="text/javascript">
export default {
  name: "superAdmin",
  data() {
    return {
      targetUserId: "",
      newReleaseNotes: ""
    };
  },
  methods: {
    addReleaseNotes() {
      this.$store
        .dispatch("releaseNotes/addReleaseNotes", this.newReleaseNotes)
        .then(result => {
          this.$store.dispatch("snackbar/toast", "Release notes created!");
          this.newReleaseNotes = "";
        })
        .catch(error => {
          console.error(error);
          alert("There was an error while creating new release notes");
        });
    },
    promoteUser() {
      this.$store
        .dispatch("datalayer/getProfileById", this.targetUserId)
        .then(result => {
          if (result.user !== null) {
            if (
              confirm("Promote " + result.user.name + " to Super Kami Guru?")
            ) {
              return this.$store.dispatch(
                "datalayer/promoteUserToSuperAdmin",
                this.targetUserId
              );
            }
          } else {
            alert("The target user id does not exist");
          }
        })
        .then(result => {
          this.$store.dispatch(
            "snackbar/toast",
            "User promoted to Super Kami Guru!"
          );
        })
        .catch(error => {
          console.error(error);
          alert("There was an error while promoting the target user");
        });
    },
    clearCache() {
      this.$store
        .dispatch("datalayer/clearCache")
        .then(result => {
          this.$store.dispatch("snackbar/toast", "Cache cleared!");
        })
        .catch(error => {
          console.error(error);
          alert("There was an error while clearing cache");
        });
    }
  }
};
</script>
<style scoped>
</style>