<template>
  <div>
    <v-card-title>
      <v-spacer></v-spacer>
      <v-btn fab small flat color="blue" @click.native="showHelpDialog=true">
        <v-icon>help_outline</v-icon>
      </v-btn>
      <v-text-field
        style="padding-top:0px"
        v-model="myPagination.filter"
        append-icon="search"
        label="Filter"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="charts"
      :search="myPagination.filter"
      :pagination.sync="myPagination"
      :custom-filter="filter"
    >
      <template slot="items" slot-scope="props">
        <tr>
          <td>
            <v-img
              :src="props.item.song.image"
              height="40px"
              width="60px"
              style="cursor:pointer"
              @click.native="$router.push('/songs/'+props.item.song.id)"
            ></v-img>
          </td>
          <td>
            {{props.item.song.name}}
            <br>
            <small>{{props.item.song.artist}}, {{props.item.song.bpm}} BPM</small>
          </td>
          <td>
            <difficulty-image
              :difficulty="props.item.difficulty"
              :type="props.item.typeName"
              :players="props.item.players"
              size="75"
              style="cursor:pointer"
              @select="$router.push('/charts/'+props.item.id)"
            ></difficulty-image>
          </td>
          <td>{{props.item.song.typeName}}</td>
          <td v-if="props.item.averageRating!==null">{{props.item.averageRating}}/5</td>
          <td v-else>Unrated</td>
          <td>
            <tag v-for="tag in props.item.tagNames" :key="tag" :name="tag" small></tag>
          </td>
          <td>
            <v-btn
              fab
              v-if="props.item.video>'' && props.item.video.startsWith('https://www.youtube.com/embed/')"
              color="pink"
              flat
              @click.native="openVideo(props.item.video)"
            >
              <v-icon>music_video</v-icon>
            </v-btn>
          </td>
        </tr>
      </template>
    </v-data-table>
    <chart-video v-model="video.show" :video="video.current"></chart-video>
    <v-dialog v-model="showHelpDialog">
      <v-card>
        <v-card-title>
          <h4>Filters</h4>
        </v-card-title>
        <v-card-text>
          <ul class="helpList">
            <li>
              <b>Tag:{tag name|None|Any}</b> - Matches charts that have a specified tag. Using Tag:None will return charts with no tags and Tag:Any will return charts with any tags.
            </li>
            <li>
              <b>Difficulty:{minimum} - {maximum}</b> - Matches charts that fall within the difficulty range. If only one number is specified, will match charts of that exact difficulty
            </li>
            <li>
              <b>Song:{song name}</b> - Matches charts that belong to a specific song name
            </li>
            <li>
              <b>Type:{Single|Double|CoOp|Double Performance|Single Performance}</b> - Matches charts that are a specific chart type.
            </li>
            <li>
              <b>SongType:{Full Song|Remix|Normal|Shortcut}</b> - Matches charts belonging to songs of a specific type.
            </li>
            <li>
              <b>Video:{True|1|False|0}</b> - Matches charts that have or don't have a video
            </li>
            <li>
              <b>Mix:{Mix Name}</b> - Matches charts in a specified mix
            </li>
            <li>
              <b>Players:{player count}</b> - Matches chart with a specific player count. For non CoOp charts, this will always be 1.
            </li>
            <li>
              <b>&amp;&amp;</b> - Commbines two or more search requirements. I.E: "Tag:Drills &amp;&amp; Difficulty:19" will provide all charts with drills that are difficulty 19
            </li>
            <li>
              <b>Free Search</b> - All fields are free searchable, meaning if you simply type "Drills", it will filter to charts that have "Drills" listed in any field (Song name, tags, chart type, etc.). You can combine free search and specific searches using &amp;&amp;
            </li>
          </ul>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Enumerable from "linq";
import ChartVideo from "./ChartVideo";
import DifficultyImage from "./DifficultyImage";
import Tag from "./Tag";
export default {
  components: {
    ChartVideo,
    DifficultyImage,
    Tag
  },
  props: {
    charts: {
      type: Array,
      required: true
    },
    pagination: {
      type: Object
    }
  },
  data() {
    var headers = [
      {
        text: "",
        sortable: false,
        value: "song.image"
      },
      {
        text: "Song",
        value: "song.name"
      },
      {
        text: "Difficulty",
        value: "difficulty"
      },
      {
        text: "Song Type",
        value: "song.typeName"
      },
      {
        text: "Rating",
        value: "averageRating"
      },
      {
        text: "Tags",
        sortable: false,
        value: "tagNames"
      },
      {
        text: "Video",
        sortable: false,
        value: "video"
      }
    ];
    return {
      video: {
        show: false,
        current: null
      },
      currentPagination: this.pagination,
      headers,
      showHelpDialog: false
    };
  },
  computed: {
    myPagination: {
      get() {
        return this.currentPagination;
      },
      set(value) {
        this.currentPagination = value;
        this.$emit("pagination-change", value);
      }
    }
  },
  methods: {
    openVideo(video) {
      this.video.show = true;
      this.video.current = video;
    },
    filter(charts, search) {
      var filter = (value, contains) => value.toLowerCase().indexOf(contains.toLowerCase())>-1;
      var values = Enumerable.from(search.split("&&"))
        .select(value => value.trim())
        .toArray();
      return Enumerable.from(charts)
        .where(chart =>
          Enumerable.from(values).all(value => {
            if (value.toLowerCase().startsWith("difficulty:")) {
              var range = value
                .substring("difficulty:".length)
                .trim()
                .split("-");
              if (range.length === 1) {
                return chart.difficulty == range[0];
              } else if (range.length === 2) {
                var minDifficulty = 1;
                var maxDifficulty = 30;
                var left = range[0].trim();
                var right = range[1].trim();
                if (!isNaN(left)) {
                  minDifficulty = parseInt(left);
                }
                if (!isNaN(right)) {
                  maxDifficulty = parseInt(right);
                }
                return (
                  chart.difficulty <= maxDifficulty &&
                  chart.difficulty >= minDifficulty
                );
              } else {
                return false;
              }
            }
            if (value.toLowerCase().startsWith("type:")) {
              return (
                chart.typeName.toLowerCase() ==
                value
                  .substring("type:".length)
                  .trim()
                  .toLowerCase()
              );
            }
            if (value.toLowerCase().startsWith("players:")) {
              return chart.players == value.substring("players:".length).trim();
            }
            if (value.toLowerCase().startsWith("song:")) {
              return (
                chart.song.name.toLowerCase() ==
                value
                  .substring("song:".length)
                  .trim()
                  .toLowerCase()
              );
            }
            if (value.toLowerCase().startsWith("mix:")) {
              return (
                chart.song.mix.name.toLowerCase() ==
                value
                  .substring("mix:".length)
                  .trim()
                  .toLowerCase()
              );
            }
            if (value.toLowerCase().startsWith("songtype:")) {
              return (
                chart.song.typeName.toLowerCase() ==
                value
                  .substring("songtype:".length)
                  .trim()
                  .toLowerCase()
              );
            }
            if (value.toLowerCase().startsWith("video:")) {
              var rightHand = value
                .substring("video:".length)
                .trim()
                .toLowerCase();
              return (
                (rightHand === "true" || rightHand === "1") == chart.video > ""
              );
            }
            if (value.toLowerCase().startsWith("tag:")) {
              var rightHand = value
                .substring("tag:".length)
                .trim()
                .toLowerCase();
              if (rightHand === "none") {
                return chart.tagNames.length === 0;
              }
              if(rightHand==='any') {
                return chart.tagNames.length>0;
              }
              return Enumerable.from(chart.tagNames).any(
                tagName => tagName.toLowerCase() == rightHand
              );
            }
            return (
              (chart.typeName !== "CoOp" && chart.difficulty == value) ||
              (chart.typeName === "CoOp" && chart.players == value) ||
              filter(chart.typeName, value) ||
              filter(chart.song.name, value) ||
              filter(chart.song.mix.name, value) ||
              Enumerable.from(chart.tagNames).any(tagName=>filter(tagName,value)) ||
              filter(chart.song.bpm, value) ||
              filter(chart.song.artist, value)
            );
          })
        )
        .toArray();
    }
  }
};
</script>
<style scoped>
.helpList li {
  padding-bottom:10px;
}
</style>