<template>
  <v-dialog
    v-if="video>'' && video.startsWith('https://www.youtube.com/embed/')"
    v-model="showDialog">
    <v-card>
      <v-responsive>
        <iframe
          ref="video-frame"
          class="video"
          :src="video+'?enablejsapi=1'"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </v-responsive>
      <v-card-actions>
        <v-btn
          flat
          @click.native="showDialog=false">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: ["value", "video"],
  computed: {
    showDialog: {
      get() {
        return this.value;
      },
      set(value) {
        if (!value) {
          this.$refs["video-frame"].contentWindow.postMessage(
            '{"event":"command","func":"' + "stopVideo" + '","args":""}',
            "*"
          );
        }
        this.$emit("input", value);
      }
    }
  }
};
</script>

<style scoped>
iframe.video {
  width: 100%;
}
@media (min-width: 410px) {
  iframe.video {
    height: 225px;
  }
}
@media (min-width: 576px) {
  iframe.video {
    height: 300px;
  }
}
@media (min-width: 768px) {
  iframe.video {
    height: 420px;
  }
}
@media (min-width: 970px) {
  iframe.video {
    height: 520px;
  }
}
@media (min-width: 1170px) {
  iframe.video {
    height: 600px;
  }
}
</style>