<template>
  <div
    @click="$emit('select')"
    class="difficulty"
    :style="getBallStyles()">
    <div
      :class="getLevelClasses()"
      :style="getLevelStyles()"></div>
    <div
      class="difficultyType"
      :style="getTypeStyles()"></div>
  </div>
</template>
<script type="text/javascript">
export default {
  name: "difficultyImage",
  props: ["difficulty", "type", "size", "players"],
  methods: {
    getBallStyles() {
      var horizontalOffset =
        this.type === "Single"
          ? 0
          : this.type === "Double"
            ? -158
            : this.type === "Single Performance"
              ? -76
              : this.type === "Double Performance"
                ? -235
                : this.type === "CoOp"
                  ? -314
                  : 0;
      return {
        ["background-position"]: horizontalOffset + "px 0"
      };
    },
    getLevelClasses() {
      return {
        difficultyLevel: true,
        [this.type]: true,
        coop: this.type === "CoOp"
      };
    },
    getLevelStyles() {
      return {
        ["background-position"]:
          "0 -" +
          (this.type === "CoOp" ? this.players : this.difficulty) * 40.5 +
          "px"
      };
    },
    getTypeStyles() {
      var verticalOffset =
        this.type === "Single"
          ? -32
          : this.type === "Double"
            ? -68
            : this.type === "Single Performance"
              ? -50
              : this.type === "Double Performance"
                ? -87
                : this.type === "CoOp"
                  ? -105
                  : 0;
      var horizontalOffset =
        this.type === "Single"
          ? 11
          : this.type === "Double"
            ? 10
            : this.type === "Single Performance"
              ? 4
              : this.type === "Double Performance"
                ? 0
                : this.type === "CoOp"
                  ? 13
                  : 0;
      return {
        ["background-position"]:
          horizontalOffset + "px " + verticalOffset + "px"
      };
    }
  }
};
</script>
<style>
.difficulty {
  background-position: 0px 0;
  background: url("/images/difficulty/stepBalls.png") no-repeat;
  overflow: hidden;
  width: 75px;
  height: 75px;
  transform: scale(0.66);
}
.difficultyLevel {
  width: 52px;
  height: 32px;
  overflow: hidden;
  margin: 0 auto 2px;
  position: relative;
  top: 19px;
  background: url("/images/difficulty/levels.png") no-repeat;
  z-index: 2;
}
.difficultyLevel.coop {
  background: url("/images/difficulty/coop.png") no-repeat;
}
.difficultyType {
  width: 69px;
  height: 14px;
  background: url("/images/difficulty/type.png") no-repeat;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  bottom: -17px;
  z-index: 2;
}
</style>