<template>
  <v-chip
    text-color="white"
    :color="color"
    :close="deletable"
    v-model="closing"
    :small="small"
    @click="$emit('click')">{{name}}</v-chip>
</template>
<script>
import Enumerable from "linq";
export default {
  props: ["name", "deletable", "small"],
  computed: {
    color() {
      return Enumerable.from(this.$store.getters.getTags).first(
        tag => tag.name === this.name
      ).color;
    },
    closing: {
      get() {
        return true;
      },
      set(value) {
        if (!value) {
          this.$emit("delete");
        }
      }
    }
  }
};
</script>