<template>
  <div>
    <v-toolbar v-if="profile!==undefined">
      <v-toolbar-side-icon @click.native="showDrawer=true"></v-toolbar-side-icon>
      <v-toolbar-title>{{pageName}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click.native="$router.go(-1)">
        <v-icon>arrow_back</v-icon>
      </v-btn>
    </v-toolbar>
    <v-navigation-drawer v-model="showDrawer" absolute temporary v-if="profile!==undefined">
      <v-list class="pa-1">
        <v-list-tile avatar @click="$router.push('/profile')">
          <v-list-tile-avatar>
            <img src="/images/default_avatar.jpg">
          </v-list-tile-avatar>
          <v-list-tile-content>{{profile.roleName==='Anonymous'?'Log In':profile.name}}</v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-list class="pt-0">
        <v-divider></v-divider>
        <v-list-tile
          v-for="item in availableItems"
          :key="item.title"
          @click="$router.push(item.path)"
        >
          <v-list-tile-action>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{item.title}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>
<script type="text/javascript">
import Enumerable from "linq";
export default {
  name: "toolbar",
  data() {
    return {
      showDrawer: false,
      items: [
        {
          title: "Home",
          icon: "home",
          path: "/",
          roles: ["Anonymous", "User", "Admin", "Super Kami Guru"]
        },
        {
          title: "Mixes",
          icon: "library_music",
          path: "/mixes",
          roles: ["Anonymous", "User", "Admin", "Super Kami Guru"]
        },
        {
          title: "Songs",
          icon: "queue_music",
          path: "/songs",
          roles: ["Anonymous", "User", "Admin", "Super Kami Guru"]
        },
        {
          title: "Charts",
          icon: "playlist_play",
          path: "/charts",
          roles: ["Anonymous", "User", "Admin", "Super Kami Guru"]
        },
        {
          title: "Lists",
          icon: "list",
          path: "/lists",
          roles: ["User", "Admin", "Super Kami Guru"]
        },
        {
          title: "Admin",
          icon: "gavel",
          path: "/admin",
          roles: ["Admin", "Super Kami Guru"]
        },
        {
          title: "Super Kami Guru",
          icon: "accessibility_new",
          path: "/admin/super",
          roles: ["Super Kami Guru"]
        }
      ]
    };
  },
  computed: {
    isAdmin() {
      return this.$store.getters["profile/getIsAdmin"];
    },
    isSuperKamiGuru() {
      return this.$store.getters["profile/getIsSuperKamiGuru"];
    },
    profile() {
      return this.$store.getters["profile/getProfile"];
    },
    pageName() {
      return this.$store.getters["menu/getPageName"];
    },
    availableItems() {
      return Enumerable.from(this.items)
        .where(item => item.roles.includes(this.profile.currentRoleName))
        .toArray();
    }
  }
};
</script>
<style scoped>
</style>