<template>
  <v-app :dark="profile.darkTheme">
    <toolbar></toolbar>
    <router-view></router-view>
    <v-snackbar v-model="showSnackbar" bottom right :timeout="3000">
      {{snackbarMessage}}
      <v-btn flat @click="showSnackbar=false">Close</v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
import Toolbar from "./components/elements/ToolBar";
export default {
  name: "app",
  components: {
    toolbar: Toolbar
  },
  computed: {
    profile() {
      if (this.$store.getters["profile/getProfile"] === undefined) {
        return true;
      }
      return this.$store.getters["profile/getProfile"];
    },
    snackbarMessage() {
      return this.$store.getters["snackbar/getSnackbarMessage"];
    },
    showSnackbar: {
      get() {
        return this.$store.getters["snackbar/getShowSnackbar"];
      },
      set(value) {
        this.$store.commit("snackbar/setShowSnackbar", value);
      }
    }
  }
};
</script>
<style src='vuetify/dist/vuetify.min.css'>
/* global styles */
</style> 